<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yoga Routine</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon-32x32.png') }}" type="image/png" sizes="32x32">
    <link rel="stylesheet" href="{{ url_for('static', filename='content/site.css') }}">
    <script src="{{ url_for('static', filename='scripts/scripts.js') }}" defer></script>
</head>
<body>
    <h1 id="pose-title">Yoga Routine</h1>
    <div class="yoga-container">
        <img id="yoga-image" class="responsive-image" src="{{ url_for('static', filename='img/childs_pose.jpg') }}" alt="Child's Pose" />
        <div class="timer">
            <span id="time">00:00</span>
        </div>
    </div>
    <select id="workout-select">
        <option value="workout1">Workout 1</option>
        <option value="workout2">Workout 2</option>
        <option value="workout3">Workout 3</option>
        <option value="workout4">Workout 4</option>
        <option value="workout5">Workout 5</option>
        <option value="workout6">Workout 6</option>
        <option value="workout7">Workout 7</option>
        <!-- Add more workouts as needed and update scripts.js -->
    </select>
    <button id="start-button">Start</button>
</body>
</html>